<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<link rel="stylesheet" type="text/css" href="indexnew/css/indexnew.css">
	<link rel="stylesheet" type="text/css" href="javascripts/fullpage/jquery.fullPage.css" />
	<style type="text/css" id="loadingcss">
		* {
			margin: 0;
			padding: 0;
		}

		body, html {
			width: 100%;
			height: 100%;
			position: relative;
		}

		#loading {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			line-height: 100%;
			font-size: 60px;
			z-index: 999;
			display: -webkit-flex;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #EEE;
		}

		.spinner {
			margin: 100px auto;
			width: 50px;
			height: 60px;
			text-align: center;
			font-size: 10px;
		}

		.spinner > div {
			background-color: #67CF22;
			height: 100%;
			width: 6px;
			display: inline-block;

			-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
			animation: stretchdelay 1.2s infinite ease-in-out;
		}

		.spinner .rect2 {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}

		.spinner .rect3 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}

		.spinner .rect4 {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}

		.spinner .rect5 {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}

		@-webkit-keyframes stretchdelay {
			0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
			20% { -webkit-transform: scaleY(1.0) }
		}

		@keyframes stretchdelay {
			0%, 40%, 100% {
				transform: scaleY(0.4);
				-webkit-transform: scaleY(0.4);
			}  20% {
				   transform: scaleY(1.0);
				   -webkit-transform: scaleY(1.0);
			   }
		}
	</style>
</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
	<ul id="menu">
		<li data-menuanchor="home"><a href="#home">Home</a></li>
		<li data-menuanchor="music"><a href="#music">Music</a></li>
		<li data-menuanchor="mailbox"><a href="#mailbox">留言板</a></li>
		<li data-menuanchor="dailyTask"><a href="#dailyTask">Daily Task</a></li>
		<li data-menuanchor="zp"><a href="#zp">一些小作品</a></li>
	</ul>
	<div id="fullpage">
		<div class="section">
			<div class="warp hello">
				<h1>Hi,暂时没有太多内容，点击左边的按钮试试</h1>
			</div>
		</div>
		<div class="section" title="music">

		</div>
		<div class="section">还没有完成。。。</div>
		<div class="section">还没有完成。。。</div>
		<div class="section">
			<div class="slide"> <iframe src="snake.html" frameborder="0" height="100%" width="100%"></iframe> </div>
    		<div class="slide"> <iframe src="taoshen/index.html" frameborder="0" height="100%" width="100%"></iframe> </div>
    		<div class="slide"> Slide 3 </div>
    		<div class="slide"> Slide 4 </div>
		</div>
	</div>
	
	<script type="text/javascript" src="javascripts/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="javascripts/fullpage/jquery.fullPage.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>