<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="javascripts/fullpage/jquery.fullPage.css" />
</head>
<body>
	<ul id="menu">
		<li data-menuanchor="home"><a href="#home">Home</a></li>
		<li data-menuanchor="music"><a href="#music">Music</a></li>
		<li data-menuanchor="mailbox"><a href="#mailbox">留言板</a></li>
		<li data-menuanchor="dailyTask"><a href="#dailyTask">Daily Task</a></li>
		<li data-menuanchor="zp"><a href="#zp">一些小作品</a></li>
	</ul>
	<div id="fullpage">
		<div class="section">
			<div class="warp hello">
				<h1>Hi,暂时没有太多内容，点击左边的按钮试试</h1>
			</div>
		</div>
		<div class="section" title="music">

		</div>
		<div class="section">还没有完成。。。</div>
		<div class="section">还没有完成。。。</div>
		<div class="section">
			<div class="slide"> <iframe src="snake.html" frameborder="0" height="100%" width="100%"></iframe> </div>
    		<div class="slide"> <iframe src="taoshen/index.html" frameborder="0" height="100%" width="100%"></iframe> </div>
    		<div class="slide"> Slide 3 </div>
    		<div class="slide"> Slide 4 </div>
		</div>
		
	</div>
	
	<script type="text/javascript" src="javascripts/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="javascripts/fullpage/jquery.fullPage.js"></script>
	<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>