<div>
<div class="ctrlwarp">
    <ul class="ctrlbox">
        <li><a href="#page1"></a></li>
        <li><a href="#page2"></a></li>
        <li><a href="#page3"></a></li>
        <li><a href="#page4"></a></li>
    </ul>
</div>
<div class="pagewarp">

    <div class="page" id="page2" title="music">
        <iframe src="http://182.254.137.20:3000/music" frameborder="0" height="100%" width="100%"></iframe>
    </div>
    <div class="page" id="page3"></div>
    <div class="page" id="page4"></div>
    <div class="page" id="page1">
        <!-- <div class="inputtest">
            <input type="text" id="nocursor">
            <input type="text" id="realinput">
        </div> -->
        <div class="warp hello">
            <h1><%=user.userName%></h1>
        </div>
    </div>
</div>
</div>