html,body {
  margin: 0;
  padding: 0;
}

@mixin flexwarpper() {
  display: flex;
}

@mixin flexwarp-center {
  @include flexwarpper;
  align-items: center;
  justify-content: center;
}

.section {
  box-shadow: 0 0 15px rgba(0,0,0,0.5) inset;
}
$helloColor : #FFF;
$hoverColor : #FFF;
.hello {
  @include flexwarp-center;
  width: 100%;
  height: 100%;
  background: {
    image: linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,1)), url("../img/banner.png");
    image: -webkit-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,1)), url("../img/banner.png");
    image: -o-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,1)), url("../img/banner.png");
    image: -moz-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,1)), url('../img/banner.png');
    repeat: no-repeat;
  };
  color: $helloColor;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    padding: 10px;
  }

  .links {
    $fontSize: 18px;
    $hoverFontSize: 25px;
    $height: $hoverFontSize + 5;
    $width: $hoverFontSize * 5;
    height: $height;
    overflow: hidden;
    display: flex;
    a {
      color: $helloColor;
      text-decoration-line: none;
      font-size: $fontSize;
      height: $height;
      line-height: $height;
      text-align: center;
      width: $width;
      transition: .3s;
      &:hover {
        color: $hoverColor;
        font-size: $hoverFontSize;
      }

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  p {
    font: {
      size: 30px;
      weight: 500;
    }
    letter-spacing: .2em;
  }


}
#menu{
  * {
    text-decoration-line: none;
    color: $helloColor;
  }
  &.home-menu {
    display: flex;
    list-style: none;
    > * {
      padding: 10px;
    }
  }

  &.mini-menu {
    padding: 0;
    margin:0;
    position:fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transition: .5s ease-in-out;
    z-index: 70;
    overflow: hidden;
    background: rgba(255, 255, 255, .6);
    border-bottom-right-radius: 20px;

    &:hover {
      top:0;
      left:0;
      height: 60px;
      width: 100%;
      border-radius: 0;
      background: rgba(255, 255, 255, .3);
      li {
        opacity: 1;
      }
      @media (max-width: 610px) {
        & {
          height: 120px;
        }
      }

      @media (max-width: 331px) {
        & {
          height: 180px;
        }
      }

      @media (max-width: 256px) {
        & {
          height: 240px;
        }
      }

      @media (max-width: 209px) {
        & {
          height: 320px;
        }
      }
    }

    &.orange {
      background: rgba(255, 165, 0, .6);
      &:hover {
        background: rgba(255, 165, 0, .3);
      }
    }

    li {
      display:inline-block;
      margin: 10px;
      color: #000;
      background:#fff;
      background: rgba(255,255,255, 0.5);
      -webkit-border-radius: 10px;
      border-radius: 10px;
      transition: .5s ease-in-out;
      opacity: 0;

      &.active {
        background:#666;
        background: rgba(0,0,0, 0.5);
        color: $helloColor;
        a {
          color: $helloColor;
          &:hover {
            color: #000;
          }
        }
      }
      &:hover {
        background: rgba(255,255,255, 0.8);
      }
      a {
        text-decoration:none;
        color: $helloColor;
        padding: 9px 18px;
        display:block;
      }
    }
  }
}







