<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>留言板</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .oneword .time {
            position: absolute;
            right: 0;
            color: #99a2aa;
            width: 160px
        }

        .oneword .info {
            position: relative;
        }

        textarea {
            resize: none;
        }

        @media (max-width: 330px) {
            small {
                display: none;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>留言板
            <small> Message Board</small>
        </h1>
    </div>
    <form id="add">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-info">@</span>
                <input name="email" type="text" class="form-control" placeholder="我的伊妹儿…">
                <span class="input-group-addon input-info"><i class="fa fa-user"></i></span>
                <input name="nickname" type="text" class="form-control" placeholder="我是…">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <textarea name="word" type="text" class="form-control" id="word" placeholder="我想轻轻的在你耳边呢喃…"></textarea>
                <span id="submitbtn" class="btn btn-default input-group-addon input-info"><i
                            class="fa fa-send"></i></span>
            </div>
        </div>
    </form>
    <div id="msgbox"></div>
    <div id="content"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    var replaceHtmlTag = function (str) {
        if (!str) return str;
        str = str.replace(/<+/g, '&lt;');
        str = str.replace(/>+/g, '&rt;');
        str = str.replace(/\s+/g, '&nbsp;');
        return str;
    };
    var $content = $('#content');
    var getNextPage = function () {
        var $ct = $content;
        var pageSize = 10;
        var nextPage = 1;
        var xhr = null;
        var hasNext = true;
        var $temp = $('<div id="temp" class="row">' +
            '<div class="col-md-4"></div>' +
            '<div class="col-md-4">加载中。。。</div>' +
            '<div class="col-md-4"></div>' +
            '</div>');
        return function () {
            if (xhr && xhr.readyState != 4 || !hasNext) {
                return;
            }
            $ct.append($temp);
            xhr = $.ajax({
                url: '/leaveword/page',
                method: 'GET',
                dataType: 'html',
                data: {currentPage: nextPage, pageSize: pageSize},
                success: function (data) {
                    var $ct = $content;
                    $temp.remove();
                    $ct.append(data);
                    var $last = $ct.find('.page:last');
                    if ($last.find('.oneword').length === 0) {
                        $last.remove();
                        hasNext = false;
                        $('#nomore').show().remove().appendTo($ct);
                    }
                    nextPage++;
                }
            });
        }
    }();

    $(function () {
        getNextPage();
    });

    $('#submitbtn').click(function () {
        var $this = $(this);
        $this.addClass('disabled');
        $.ajax({
            url: '/leaveword/add',
            method: 'POST',
            data: $('#add').serialize(),
            dataType: 'json',
            success: function (data) {
                var str = '';
                var leaveword = null;
                if (data.result) {
                    str = '<div class="alert alert-success alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button> ' +
                        data.msg +
                        '</div>';
                    $('#msgbox').prepend(str);
                    leaveword = data.leaveWord;
                    $('.page:eq(0)').prepend('<div class="panel panel-default oneword">' +
                        '<div class="panel-heading info">' +
                        '<span>' + replaceHtmlTag(leaveword.nickName) + '</span>' +
                        '<span class="time">' + data.createdTime + '</span>' +
                        '</div>' +
                        '<div class="panel-body word">' +
                        replaceHtmlTag(leaveword.word) +
                        '</div>' +
                        '</div>');
                    $('#add')[0].reset();
                } else {
                    str = '<div class="alert alert-danger alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button> ' +
                        data.msg +
                        '</div>';
                    $('#msgbox').prepend(str);
                }
                $this.removeClass('disabled');
            }
        });
    });

    $(document).scroll(function () {
        var $document = $(document);
        if ($document.scrollTop() + $(window).height() >= $document.height() - 50) {
            getNextPage();
        }
    });
</script>
</body>
</html>


