<div class="page">
    <% pageBean.array.forEach(function(item){ %>
    <div class="panel panel-default oneword">
        <div class="panel-heading info">
            <span><%=item.nickName%></span>
            <span class="time"><%=item.createdTime%></span>
        </div>

        <div class="panel-body word">
            <%=item.word%>
        </div>
    </div>
    <% }) %>
</div>